
@{
    ViewData["Title"] = "Dashboard";
}




<h1 class="d-flex justify-content-center">Dashboard</h1>
<hr />
<h4 class="d-flex justify-content-center" style="color:darkcyan"><i>@ViewBag.MySession</i></h4>
<br />
<hr />
<a asp-controller="Home" asp-action="Logout" class="btn btn-danger d-flex justify-content-center">Logout</a>
